/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

body {
  background: linear-gradient(180deg, #2d3142 42.19%, rgba(33, 55, 68) 100%);
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

* {
  color: white;
}
